.container{
    width: 80%;
    height: 70vh;
    border: 1px dotted red;
    background-color: blue;
    margin: 100px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
    /* transition-behavior: ; */
}

/* .container{
    background-color: black;  
} */


@media (max-width : 1024px){
  .container{
    background-color: brown;
    transform: rotate(30deg) scale(0.5);
  }
}

@media (max-width : 800px){
    .container{
      background-color: rgb(125, 6, 61);
      transform: rotate(90deg) scale(0.5);
    }
  }